{% extends 'main.html' %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <div class="login-logo">

            <h1>
                Forgot Password
            </h1>

            <p>
                Reset your VTU Portal password
            </p>

        </div>

        {% if message %}

            <div class="success-box">
                {{ message }}
            </div>

        {% endif %}

        {% if error %}

            <div class="error-box">
                {{ error }}
            </div>

        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">

                <label>
                    Registered Email
                </label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your registered email"
                    required
                >

            </div>

            <button
                type="submit"
                class="login-btn"
            >
                Send OTP
            </button>

        </form>

        <div class="extra-links">
<br>
            <a href="/login/">
                Back to Login
            </a>

        </div>

    </div>

</div>

{% endblock %}