{% extends 'main.html' %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <div class="login-logo">

            <h1>
                Reset Password
            </h1>

            <p>
                Create your new VTU Portal password
            </p>

        </div>

        {% if message %}
            <div class="success-box">
                {{ message }}
            </div>
        {% endif %}

        {% if error %}
            <div class="error-box">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">

                <label>
                    New Password
                </label>

                <input
                    type="password"
                    name="password1"
                    placeholder="Enter new password"
                    required
                >

            </div>

            <div class="input-box">

                <label>
                    Confirm Password
                </label>

                <input
                    type="password"
                    name="password2"
                    placeholder="Confirm new password"
                    required
                >

            </div>

            <button
                type="submit"
                class="login-btn"
            >
                Change Password
            </button>

        </form>

        <div class="extra-links">

            <a href="/login/">
                Back to Login
            </a>

        </div>

    </div>

</div>

{% endblock %}