{% extends 'main.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-box">

        <h2>Verify OTP</h2>

        {% if error %}
            <p class="auth-error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Enter OTP</label>

            <input
                type="text"
                name="otp"
                placeholder="Enter 6 digit OTP"
                required
            >

            <button type="submit">
                Verify OTP
            </button>

        </form>

    </div>

</div>

{% endblock %}